
@import "tailwindcss";


.header {
    padding: 0 2rem; 
    position: sticky;
    background-color: #EEC6F5;
  }
  
  .header nav {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    height: 60px; 
  }
  

  .logo {
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #333;
    text-decoration: none; 
  }
  
  .nav-links, .user-links {
    display: flex; 
    list-style: none; 
    margin: 0;
    padding: 0;
    gap: 1.5rem; 
  }
  
  .nav-links a, .user-links a {
    color: #555;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 0;
    position: relative;
    transition: color 0.2s ease-in-out;
  }
  

  .nav-links a:hover, .user-links a:hover {
    color: #fff; 
  }

  footer {
    background-color: #EEC6F5;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f9fafb; 
}

.login-box {
  width: 18rem; 
}

.login-title {
  font-size: 1.75rem; 
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem; 
  width: 100%;
}

.input {
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  padding: 0.5rem;
}


.btn {
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: #EEC6F5;
}



